body {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #a0d9ef;
}
@font-face {
  font-family: "Gretoon-highlight";
  src: url("assets/fonts/GretoonHighlight.ttf");
}
@font-face {
  font-family: "PressStart2P";
  src: url("assets/fonts/PressStart2P.ttf");
}

/**********************game environment styles*****************************/

header {
  position: absolute;
  cursor: default;
  width: 100%;
  color: #7b77d8;
}
header .game-info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: fit-content;
}
header h1 {
  font-family: "Gretoon-highlight";
}
header h3 {
  font-family: "PressStart2P";
  text-align: center;
}
.clouds {
  position: relative;
  margin-top: 5%;
  width: 100%;
  height: 25%;
}
/*css from Coding Artist Youtube channel - Hot Air Balloon Animation CSS*/
.cloud {
  background-color: white;
  height: 50px;
  width: 200px;
  border-radius: 50px;
  position: absolute;
  /*opacity: 0.1;*/
}
.cloud::before {
  position: absolute;
  content: "";
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%;
  bottom: 25px;
  left: 80px;
}
.cloud::after {
  position: absolute;
  content: "";
  height: 80px;
  width: 80px;
  background-color: white;
  border-radius: 50%;
  bottom: 25px;
  left: 25px;
}
.cloud:nth-child(1) {
  top: 70%;
  left: 42%;
}
.cloud:nth-child(2) {
  top: 35%;
  left: 30%;
  transform: scale(0.8);
}
.cloud:nth-child(3) {
  top: 35%;
  left: 55%;
  transform: scale(0.8);
}

/*floating balloon styles from https://codepen.io/Jemimaabu/pen/vYEYdOy*/
.game-environment {
  height: 100vh;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: opacity 500ms;
} 
/* settings div */
.settings, .score-card {
  position: absolute;
  top: 350px;
  left: 30%;
  width: 25%;
  height: 20%;
  padding: 1% 5% 3%;
  background-color: #7b77d8;
  opacity: 0.7;
}
.settings label {
  font-family: "PressStart2P";
  display: block;
  margin: 20px 0;
}
.settings input {
  padding: 6px 12px;
}
.settings b {
  margin-right: 30px;
}
.settings span {
  margin-right: 10px;
}
.settings button {
  padding: 5px 10px;
  font-family: "PressStart2P";
}
.settings .play-btn {
  display: block;
  margin: 20px auto;
}
/*score card*/
.score-card span.skull {
  text-align: center;
  font-size: 4rem;
  color: white;
}
.score-card  {
  text-align: center;
  font-size: 1rem;
  font-family: "PressStart2P";
  color: white;
}
/* balloon */
.balloon {
  height: 125px;
  width: 105px;
  border-radius: 75% 75% 70% 70%;
  position: relative;
  z-index: 2;
}
.balloon-color {
  color: rgb(173, 255, 47);
}

.balloon:before {
  content: "";
  height: 75px;
  width: 1px;
  padding: 1px;
  background-color: #FDFD96;
  display: block;
  position: absolute;
  top: 125px;
  left: 0;
  right: 0;
  margin: auto;
}

.balloon:after {
    content: "▲";
    text-align: center;
    display: block;
    position: absolute;
    color: inherit;
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;
}
.balloon-container {
  display: flex;
  gap: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 25vh;
  width: fit-content; 
  max-width: 80vw;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-grow: inherit;
  overflow: hidden;
  
}
div.score-and-instruction {
  margin-top: 10vh;
  text-align: center;
  font-family: "PressStart2P";
  cursor: default;
  display: none;
}
p.instruction, small.instruction {
  color: #7b77d8;
}
small.instruction {
display: block;
margin: 10px 0;
font-size: .8rem;
}
h3.score {
  color: greenyellow;
}
.score span {
  color: palevioletred;
}

/***************From Margit's JS tricks classwork*****************/
.overlay {
  background-color: rgba(51, 51, 51, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
}

.overlay.visible {
  display: flex;
}
.modal {
  background-color: white;
  margin: 2rem;
  padding: 1rem;
  border-radius: 5px;
  width: 300px;
  position: relative;
}
.modal p {
  font-family: "PressStart2P";
  color: palevioletred;
}
.loser-gif {
  width: 600px;
  display: none;
}
.congrats-gif {
  display: none;
}
.close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: default;
}

@keyframes float {
  /*from https://codepen.io/Jemimaabu/pen/vYEYdOy*/
  from {transform: translateY(1vh);}
  to {transform: translateY(-25vh);}
}